<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    hello
    <form action="/create/ninja" method="post">
        <label for="dojo_id">Dojo</label>
        <select name="dojo_id">
            {% for dojo in dojos %}
            <option value={{dojo.id}}>{{dojo.name}}</option>
            {% endfor %}
        </select>
        <label for="first_name">first name</label>
        <input type="text" name="first_name">
        <label for="last_name">last name</label>
        <input type="text" name="last_name">
        <label for="age">age</label>
        <input type="text" name="age">
        <button>submit</button>
    


    </form>
    <a href="/">Home</a>

                        <!-- DO I NEED TO GIVE EACH ITEM AN ID -->
    
</body>
</html>