.row {
display: flex;
justify-content: flex-start;





    }

.col, .col-2, .col-3 {
    flex: 1;
    color: thistle;
    background-color: blanchedalmond;
    width: 150px;
    height: 50px;
    margin: 0px 5px 20px 5px;
    padding-top: 30px;
    padding-left: 15px;
    }

.col-2{
    flex: 2;

}

.col-3 {
    flex: 3;
}